body, html{
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
  
/******************* Image classes *******************/
.container {
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../img/image_1.jpg');
    min-height: 100%;
}

.menu > ul{
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
}

.menu .item-left {
    float: left;
}

.menu li {
    float: right;
}

.menu li a{
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover{
    color: #333;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
/******************* Text classes *******************/
.title{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

/******************* Player classes *******************/
.spotify{
    position: relative;
    text-align: center;
    /* padding: 50px 80px; */
    padding-top: 15rem;
    padding-bottom: 3rem;
    background-size: cover;
}

iframe{
    width: 400px;
    height: 550px;
    border: none;
}

/******************* Section classes *******************/
/* .section{
    text-align: center;
    padding: 50px 80px;
    background-size: cover;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
} */

/******************* Footer classes *******************/
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
  }

/******************* Media classes *******************/

@media(max-width:700px){

    .title {
        font-size: 1rem;
    }

    .spotify{
        padding-top: 10rem;
    }

    footer {
        font-size: 12px;
      }
}

@media(max-width:568px){

    iframe{
        width: 300px;
        height: 400px;
    }
}