:root{
    --font-color: rgb(246, 243, 211);
    --font-color-dark: rgb(219, 216, 188);
}

body, html{
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: var(--font-color);
}
  
/******************* Image classes *******************/
.container {
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../img/image_2.png');
    min-height: 100%;
}

.menu{
    position: relative;
    padding: 20px;
}

.menu > ul{
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    text-transform: uppercase;
}

.menu .item-left {
    float: left;
}

.menu li {
    float: right;
}

.menu li a{
    color: var(--font-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover{
    color: var(--font-color-dark);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
/******************* Text classes *******************/
.title{
    padding-top: 4rem;
    width: 100%;
    text-align: center;
    color: var(--font-color);
    font-size: 48px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.title span:last-of-type {
    color: var(--font-color-dark);
}

/******************* Player classes *******************/
.spotify{
    position: relative;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 3rem;
    background-size: cover;
}

iframe{
    width: 400px;
    height: 500px;
    border: none;
}

/******************* Footer classes *******************/
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
  }

/******************* Media classes *******************/

/* LOOK: Greate Smartphones */
@media(max-width:800px){

    .title {
        font-size: 2rem;
        padding-top: 5rem;
    }

    .spotify{
        padding-top: 5rem;
    }

    footer {
        font-size: 12px;
      }
}

/* LOOK: iPAD */
@media(max-width:568px){

    .title {
        font-size: 1.5rem;
    }

    .title span:last-of-type {
        display: block;
        color: var(--font-color-dark);
    }
    iframe{
        width: 300px;
        height: 400px;
    }

    .menu > ul{
        font-size: 12px;
        padding: 10px;
    }
    
    .menu .item-left {
        float: left;
    }
    
    .menu li {
        float: right;
    }
    
    .menu li a{
        padding: 10px 10px;
        clear: both;
    }
}