body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

/******************* Image classes *******************/
.pimg1 {
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../img/image_1.jpg');
    min-height: 100%;
}

/******************* Player classes *******************/
.spotify{
    text-align: center;
    /* padding: 50px 80px; */
    padding-top: 20%;
    background-size: cover;
}

iframe{
    width: 400px;
    height: 480px;
    border: none;
}

/******************* Section classes *******************/
.section{
    text-align: center;
    padding: 50px 80px;
    background-size: cover;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

/******************* Text classes *******************/
.title{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

/* .ptext .border{
    background-color: #111;
    color: white;
    padding: 20px;
    background-color: transparent;
} */

/******************* Button classes *******************/

/* .ptext .booking{
    background-color: #111;
    color: white;
    padding: 20px;
    border: 0;
} */

/* .ptext .booking:hover{
    background: #333;
} */

/******************* Button classes *******************/

/* .myfooter{
    position: absolute;
    width: 100%;
    top: 90%;
    font-size: 11px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(40, 46, 52, 0.3);
    color: white;
} */

/******************* Media classes *******************/

@media(max-width:568px){
    .pimg1 {
        background-attachment: scroll;
    }
    .title {
        font-size: 1rem;
    }
}